@import "normalize";

/*旧版本浏览器兼容*/
header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

body {
    font-family: 'Microsoft Yahei';
    background-color: rgb(253, 253, 248);
    color: rgb(63,63,63);
}

/*超链接*/
a {
    color: rgb(63,63,63);
    text-decoration: none;
}

/* ---------------------------------------------------------------- */

/*页眉*/
header {
    position: sticky;
    top: 0;
    margin: -8px;
    height: 64px;
    background-color: rgb(241, 240, 161);
}

/*页眉标题*/
#BikariTitle {
    padding: 10px;
    text-align: center;
    font-size: 32px;
}

/* ---------------------------------------------------------------- */

/* 侧边栏 */
.SideBar {
    float: left;
    border: 1px solid rgb(232,231,247);
    margin: 32px 0 0 64px;
    padding: 0;
    width: 200px;
    background : transparent;
}

div.SideBar ul.demo-vertical {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: transparent;
}

div.SideBar ul.demo-vertical li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
	border: 0px;
}

div.SideBar ul.demo-vertical li a:hover:not(.active) {
    background-color: rgb(170,170,170);
    color:white;
}

div.SideBar ul.demo-vertical a.active {
    background-color: rgb(241, 240, 161);
    color:white;
}

/* ---------------------------------------------------------------- */

/* 正文内容 */
div.MainContent {
    float: left;
    margin: 0 0 0 16px;
    padding: 32px 0 0 0;
    border: 0;
    width: 900px;
    background: transparent;
}

div.MainContent a:hover:not(.active) {
    text-decoration: underline;
}

div.MainContent h1 {
    margin: 8px 0 8px 0;
    font-size: 24px;
}

div.MainContent ul.Volume {
    margin: 0;
    padding: 0;
}

div.MainContent li.Action {
    list-style-type: none;
    margin: 8px 0 8px 64px;
    font-size: 18px;
}

div.MainContent li.Chapter {
    list-style-type: none;
    margin: 8px 0 8px 128px;
    font-size: 14px;
}

div.MainContent p {
    font-size: 16px;
    text-indent: 32px;
}

/* ---------------------------------------------------------------- */

div.MainContent div.ChapterWrapTable {
    float: right;
    margin: 12px 0;
    width: 15%;
}

div.MainContent button#LastChapter {
    float: left;
}

div.MainContent button#NextChapter {
    float: right;
}

/* ---------------------------------------------------------------- */

/*表格*/
.MBTable {
    border-collapse:collapse;
    border: 0px;
}

.MBTable th {
    border: 1px solid rgb(204, 204, 204);
    padding: 3px;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 16px;
    font-weight: bold;
    color: #255E95;
    background-color:#E9FAFF;
}

.MBTable td {
    border: 1px solid rgb(204, 204, 204);
    padding: 3px;
    font-family: "微软雅黑";
    font-size: 16px;
    color: #000000;
    background-color:#FFFFFF;
}

/*通用*/
.text-center {
    text-align: center;
}