@import "normalize.css";
@import "wikilike.css";

/*旧版本浏览器兼容*/
header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

:root {
    --theme-text-color: rgb(36, 33, 30);
    --theme-background-color: rgb(253, 253, 248);
    --theme-background-color-alpha: rgba(253, 253, 248, 0.88);
    --theme-border-color: rgb(232, 231, 247);
    --theme-block-color: rgb(241, 240, 161);
    --theme-link-color: rgb(63, 81, 181);
}

@font-face {
    font-family: "腾祥沁园简";
    src: url("fonts/TengXQJianYuan-w3.ttf") format("truetype");
}

body {
    margin: 0 0 0 0;
    font-family: 'Microsoft Yahei';
    font-size: 16px;
    color: var(--theme-text-color);
    background-image: url("../image/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*超链接*/
a {
    text-decoration: none;
    color: var(--theme-text-color);
}

a:hover:not(.active) {
    text-decoration: underline;
}

.NovelInf {
    display: none;
}

/* ---------------------------------------------------------------- */

/*页眉*/
.Header {
    position: sticky;
    top: 0;
    min-width: 960px;
    width: 100%;
    height: 64px;
    background-color: var(--theme-block-color);
    filter: drop-shadow(0px 0px 8px rgba(0,0,0,0.16));
    z-index: 255;
}

/*页眉标题*/
#BikariTitle {
    float: left;
    position: absolute;
    left: 30%;
    width: 40%;
    padding: 16px 0 16px 0;
    background-color: rgb(255, 255, 230);
    text-align: center;
    line-height: 32px;
    font-family: "腾祥沁园简";
    font-size: 32px;
    clip-path: polygon(
        0 1em,
        3em 0,
        calc(100% - 3em) 0,
        100% 1em,
        100% calc(100% - 1em),
        calc(100% - 3em) 100%,
        3em 100%,
        0 calc(100% - 1em)
      );
}

/* ---------------------------------------------------------------- */

/* 侧边栏 */
.SideBar {
    float: left;
    position: sticky;
    top: 96px;
    margin: 32px 0 0 32px;
}

.SideBar-Block {
    overflow: auto;
    top: 96px;
    width: 194px;
    margin: 0 0 24px 0;
    padding: 0;
    border: 1px solid var(--theme-border-color);
    border-radius: 16px;
    background-color: var(--theme-background-color-alpha);
}

.SideBar-Block ul.demo-vertical {
    width: 192px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    list-style-type: none;
}

.SideBar-Block ul.demo-vertical li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
	border: 0px;
}

.SideBar-Block ul.demo-vertical li a:hover:not(.active) {
    background-color: rgb(170, 170, 170);
    color:white;
}

.SideBar-Block ul.demo-vertical a.active {
    background-color: var(--theme-block-color);
    color:white;
}

/* ---------------------------------------------------------------- */

/* 正文内容 */
div.MainContent {
    min-width: 672px;
    margin: 32px 0 0 256px;
    padding: 16px 32px 16px 32px;
    width: min(calc(100vw - 320px), 1024px);
    border-radius: 16px;
    background-color: var(--theme-background-color-alpha);
    box-shadow: 0px 0px 8px rgba(0,0,0,0.16);
}

div.MainContent h1 {
    margin: 8px 0 8px 0;
    font-size: 40px;
}

div.MainContent h2 {
    margin: 8px 0 8px 0;
    font-size: 24px;
}

div.MainContent ul.Volume {
    margin: 0;
    padding: 0;
}

div.MainContent li.Action {
    list-style-type: none;
    margin: 8px 0 8px 64px;
    font-size: 17px;
}

div.MainContent li.Chapter {
    margin: 8px 0 8px 128px;
    font-size: 14px;
}

div.MainContent p {
    margin: 0;
    line-height: 32px;
    text-indent: 32px;
    font-size: 16px;
}

article.NovelText {
    padding: 0 32px 0 32px;
}

article.ContentExtraArea {
    padding: 16px;
}

/* ---------------------------------------------------------------- */

/* 主页内容盒 */
div.Content-Table {
    width: auto;
    height: auto;
    overflow: auto;
    zoom: 1;
    margin: 16px 0 16px 0;
    padding: 16px 16px 16px 48px;
    border: 1px solid var(--theme-border-color);
    background-color: var(--theme-background-color);
}

/* 色块填充 */
div.Profile-ColorBlock-Left {
    float: left;
    min-height: 100%;
    margin: -16px -16px -16px -48px;
    padding: 0 32px 0 0;
    background-color: var(--theme-block-color);
}

img#Profile-Icon {
    filter: drop-shadow(4px 4px 12px rgba(0,0,0,0.32));
    display: block;
    float: left;
    margin: 0 16px 0 8px;
}

/*简介表格*/
.Profile-Table {
    border-collapse:separate;
    border-spacing: 8px;
}

.Profile-Table th {
    padding: 4px 16px 4px 16px;
    text-align: center;
    font-weight: bold;
    background-color:var(--theme-block-color);
}

.Profile-Table td {
    border-bottom: 1px solid var(--theme-border-color);
    padding: 0 32px 0 32px;
    text-align: center;
}

/* ---------------------------------------------------------------- */

/* 上下章切换 */
div.MainContent div.ChapterWrapBox-Top {
    display: flex;
    justify-content: space-between;
    float: right;
    width: 144px;
    margin: 12px 0;
}

div.MainContent div.ChapterWrapBox-Bottom {
    display: flex;
    justify-content: center;
}

div.MainContent span.LastChapter, span.NextChapter {
    margin: 16px 36px 16px 36px;
    padding: 16px 96px 16px 96px;
    border: 2px solid var(--theme-border-color);
    border-radius: 16px;
    background-color: var(--theme-block-color);
    font-weight: bold;
    color: rgb(96, 96, 96);
    cursor: pointer;
}

/* ---------------------------------------------------------------- */

/* 情报板块 */
div.JouhouBlock {
    width: 100%;
    height: auto;
    overflow: auto;
    zoom: 1;
    margin: 16px 0 16px 0;
}

/* 情报盒 */
div.JouhouBlock-Box {
    float: left;
    width: 184px;
    height: auto;
    margin: 0 32px 0 0;
    padding: 24px 24px 8px 56px;
    border: 1px solid var(--theme-border-color);
    background-color: var(--theme-background-color);
}

div.JouhouBlock-Box span {
    display: block;
    width: 100%;
    padding-top: 8px;
    line-height: 20px;
    text-align: center;
}

div.JouhouBlock-Box-LeftColor {
    float: left;
    height: 160px;
    margin: -24px 0 -8px -56px;
    padding: 0 0 0 32px;
    background-color: var(--theme-block-color);
}

div.JouhouBlock-Image {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50px;
    filter: drop-shadow(4px 4px 12px rgba(0,0,0,0.24));
}

/* 情报信息表格 */
table.JouhouBlock-Table {
    width: calc(100% - 216px);
    border: 1px solid rgb(172, 172, 172);
    border-spacing: 2px;
}

table.JouhouBlock-Table th {
    padding: 4px 4px 4px 4px;
    text-align: center;
    font-weight: bold;
    background-color:var(--theme-block-color);
}

table.JouhouBlock-Table td {
    padding: 0 0 0 6px;
}

table.JouhouBlock-Table a, #Log a {
    color: var(--theme-link-color);
}

table.JouhouBlock-Table a:hover:not(.active), #Log a:hover:not(.active) {
    text-decoration: none;
}

/* ---------------------------------------------------------------- */

/* 设定页 */
div.Detail-Block {
    overflow: auto;
}

div.Detail-Illustration {
    float: right;
    width: 320px;
    margin: 0 0 0 16px;
}

/* ---------------------------------------------------------------- */

/*通用*/
.text-center {
    text-align: center;
}