<div style="width:100%; height:auto; overflow:auto; zoom:1; margin-bottom:-8px;">
    <h1 id="Title" style="float: left;"></h1>
    <div class="ChapterWrapTable">
        <button type="button" id="NextChapter" onclick="ChapterWrap(1)">下一章</button>
        <button type="button" id="LastChapter" onclick="ChapterWrap(0)">上一章</button>
    </div>
    <span id="Volume" style="position:relative; top:20px; right:24px; float:right; font-size:12px;"></span>
</div>
<hr />
<div id="NovelText"></div>

<script>
    //标题
    document.getElementById("Title").innerHTML = document.title;
    //所属卷
    document.getElementById("Volume").innerHTML = "<" + VolumeName[vol - 1] + ">";
    //引入正文
    $("#NovelText").load(Volume[index] + ".txt");
    
    //按钮可用与否
    if (index <= 0) {
        document.getElementById("LastChapter").disabled = true;
    }
    if (index >= Volume.length - 1) {
        document.getElementById("NextChapter").disabled = true;
    }
</script>