<div class="Content-Header">
    <div class="Novel-WrapBox-Left">
        <span class="Novel-WrapBox-Arrow">&lt;</span>
        <span class="Novel-WrapBox-Text">上一章</span>
    </div>
    <div class="Novel-Title">
        <h2 id="Title" style="float: left;"></h2>
        <div class="Novel-Information">
            <span id="Volume"></span>
            <span id="WordCount"></span>
        </div>
    </div>
    <div class="Novel-WrapBox-Right">
        <span class="Novel-WrapBox-Text">下一章</span>
        <span class="Novel-WrapBox-Arrow">&gt;</span>
    </div>
</div>
<hr />
<article class="Novel-Text"></article>
<article class="ContentExtraArea"></article>
<hr />
<div class="Novel-WrapBox-Bottom">
    <span class="LastChapter-Bottom">上一章</span>
    <span class="NextChapter-Bottom">下一章</span>
</div>