<div class="setting-close"></div>

<span class="Content-h1 Coco-Title">全局设置</span>
<div class="row">
    <div class="col-sm-12">
        <div class="input-box">
            <span class="input-name">菜单位置</span>
            <div class="input-line"></div>
            <ul class="input-barside">
                <li class="active" onclick="SideBar.SetSide(0)">
                    <span class="hob"></span>
                    <span >左侧</span>
                </li>
                <li onclick="SideBar.SetSide(1)">
                    <span class="hob"></span>
                    <span >右侧</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<span class="Content-h1 Coco-Title">快捷键设置</span>
<div class="row">
    <div class="col-sm-6">
        <div class="input-box">
            <span class="input-name">上一章节</span>
            <div class="input-line"></div>
            <input class="input-shortcut" id="shortcut-LastChapter" value="A">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="input-box">
            <span class="input-name">下一章节</span>
            <div class="input-line"></div>
            <input class="input-shortcut" id="shortcut-NextChapter" value="D">
        </div>
    </div>
</div>

<span class="Content-h1 Coco-Title">阅读设置</span>
<div class="row">
    <div class="col-sm-12">
        <div class="input-box">
            <span class="input-name">字体选择</span>
            <div class="input-line"></div>
            <ul class="input-fontfamily">
                <li class="active" onclick="Reader.SetFontFamily(0)">
                    <span class="hob"></span>
                    <span >系统默认</span>
                </li>
                <li onclick="Reader.SetFontFamily(1)">
                    <span class="hob"></span>
                    <span >宋体</span>
                </li>
                <li onclick="Reader.SetFontFamily(2)">
                    <span class="hob"></span>
                    <span >楷体</span>
                </li>
            </ul>
        </div>
        <div class="input-box">
            <span class="input-name">字体大小</span>
            <div class="input-line"></div>
            <ul class="input-fontsize">
                <li class="active" onclick="Reader.SetFontSize(0)">
                    <span class="hob"></span>
                    <span >小</span>
                </li>
                <li onclick="Reader.SetFontSize(1)">
                    <span class="hob"></span>
                    <span >中</span>
                </li>
                <li onclick="Reader.SetFontSize(2)">
                    <span class="hob"></span>
                    <span >大</span>
                </li>
            </ul>
        </div>
    </div>
</div>