<div class="setting-close"></div>

<span class="Content-h1 Coco-Title">全局设置</span>
<div class="input-box">
    <span class="input-name">页面布局</span>
    <div class="input-line"></div>
    <ul class="input-item-3" id="input-layout">
        <li class="active">
            <span>居中</span></li>
        <li><span>靠左</span></li>
        <li><span>靠右</span></li>
    </ul>
</div>
<div class="input-box">
    <span class="input-name">主题颜色</span>
    <div class="input-line"></div>
    <ul class="input-item-4" id="input-theme">
        <li class="active">
            <span>山吹</span></li>
        <li><span>初空</span></li>
        <li><span>若竹</span></li>
        <li><span>早樱</span></li>
    </ul>
</div>

<span class="Content-h1 Coco-Title">快捷键设置</span>
<div class="row">
    <div class="col-xs-6">
        <div class="input-box">
            <span class="input-name">上一章节</span>
            <div class="input-line"></div>
            <input class="input-shortcut" id="shortcut-LastChapter" value="A">
        </div>
    </div>
    <div class="col-xs-6">
        <div class="input-box">
            <span class="input-name">下一章节</span>
            <div class="input-line"></div>
            <input class="input-shortcut" id="shortcut-NextChapter" value="D">
        </div>
    </div>
</div>

<span class="Content-h1 Coco-Title">阅读设置</span>
<div class="input-box">
    <span class="input-name">字体选择</span>
    <div class="input-line"></div>
    <ul class="input-item-3" id="input-fontfamily">
        <li class="active">
            <span>系统默认</span></li>
        <li><span>宋体</span></li>
        <li><span>楷体</span></li>
    </ul>
</div>
<div class="input-box">
    <span class="input-name">字体大小</span>
    <div class="input-line"></div>
    <ul class="input-item-3" id="input-fontsize">
        <li class="active">
            <span>小</span></li>
        <li><span>中</span></li>
        <li><span>大</span></li>
    </ul>
</div>