<div class="SideBar-Block">
    <ul class="demo-vertical">
        <li><a href="../../index.html">主页</a></li>
        <li><a href="../../catalogue.html">目录</a></li>
        <li><a href="../../details.html">情报</a></li>
        <li><a href="javascript:void(0)" onclick="Setting.Open()">设置</a></li>
    </ul>
</div>
<div class="SideBar-Block" id="Index">
    <ul class="demo-vertical">
        <li class="Index-Volume"></li>
    </ul>
</div>
<div class="SideBar-Block visible-sm visible-md visible-lg">
    <ul class="demo-vertical">
        <li><a href="javascript:void(0)" onclick="BackToTop()">返回顶部</a></li>
    </ul>
</div>